<!DOCTYPE html>
<html>
    <head>
        <!-- Cabecera del documento HTML -->
        <meta charset="utf-8">
        <!-- Configura la codificación de caracteres -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Configura la escala inicial y el ancho del viewport -->
        <title>{{title}}</title>
        <!-- Título de la página obtenido dinámicamente desde el contexto -->
        <link rel="stylesheet" href="/css/{{style}}">
        <!-- Enlaza a una hoja de estilos CSS obtenida dinámicamente desde el contexto -->
    </head>
    <body>
        <!-- Cuerpo del documento HTML -->
        {{{body}}}
        <!-- Contenido del cuerpo del documento, que se inserta dinámicamente desde el contexto -->
    </body>
</html>
